{{#if edit}}
<div class="card edit-form-card hidden">
{{else}}
<div class="card form-card hidden">
{{/if}}
    <h3 class="card-header text-uppercase">{{title}} Comment</h3>
    <form class="form card-body">
    {{#if edit}}        
        <label for="edit-comment-body">Comment</label>
        <textarea class="form-input" id="edit-comment-body" autofocus></textarea>
        <button id="update-form" class="btn btn-primary" type="submit">
        Update</button>
        <button id="delete-form" class="btn btn-primary">
        Delete</button>
    {{else}}
        <label for="comment-body">Comment</label>
        <textarea class="form-input" id="comment-body" autofocus></textarea>
        <button
        id="submit-form"
        class="btn btn-primary"
        type="submit"
        data-postid="{{id}}"
        data-userid="{{user_id}}">
        Create</button>
    {{/if}}
    </form>
</div>